body{
    margin: 40px 0;
    background-color: blanchedalmond;
    text-align: center;
    font-size: 20px;
}
a{
    margin: 20px;
    text-decoration: none;
    color: green;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
img{
    width: 700px;
    height: 500px;
    margin: 30px;
    border-radius: 8px;
}
#mail{
    margin: 0;
}